  <div align="center"><center><p>
    <a href="javascript:void(Set_Locked(0,'CANCELA EDICAO DE REGISTRO.x'))"> <img src="[pft]v5000^i,'cancel.gif'[/pft]" name="CANCELA EDICAO DE REGISTRO" border="0"></a>
    <a href="javascript:void(Set_Locked(0,'GRAVA REGISTRO/COMPLEMENTO.x'))"> <img src="[pft]v5000^i,'confirm.gif'[/pft]" name="GRAVA REGISTRO/COMPLEMENTO" border="0"></a>
  </center></div>
</form>
<script language="JavaScript">		

// Agregado por Emiliano para tomar valores al momento de editar
// se debe agregar por cadad campo maestro de hide/show

 if (document.getElementById("List09")!=null)
   showTags_9(document.getElementById("List09").options[document.getElementById("List09").selectedIndex].value);

</script>
</body>
</html>
