td{
  	font-family : Arial,Courier New, Verdana, Arial;
	font-size: 15pt;
}

input{
	font-family : Courier New, Verdana, Arial;
	font-size: 19pt;
}
			
textarea{
	font-family : Courier New, Verdana, Arial;
	font-size: 19pt;
}
