  <div align="center"><center><p>
    <a href="javascript:void(Set_Locked(0,'CANCELA EDICAO DE COMPLEMENTOS.x'))"> <img src="[pft]v5000^i,'back.gif'[/pft]" name="CANCELA EDICAO DE COMPLEMENTOS" border="0"></a>
    <a href="javascript:void(Set_Locked(0,'GRAVA COMPLEMENTO.x'))"> <img src="[pft]v5000^i,'confirm.gif'[/pft]" name="GRAVA COMPLEMENTO" border="0"></a>
  </center></div>
</form>
</body>
</html>
