<font size="1" face="arial">
	  [pft]	  
	      (
            select v3010
              case 'LENDO':'<script>document.forms[0].status.value="Reading record: ',v1000,'"</script>',
              case 'TESTANDO':'<script>document.forms[0].status.value="Checking record :',v1000,' tipo: ',v5,x1,v6,'"</script>',
              case 'ARQISONOTLIL5':'<font color="red" size="2">Record <b>',v1000[1],'</b> field 5 incompatible: <b>',v5[1],'</b></font><br>'
              case 'ARQISONOTLIL6':'<font color="red" size="2">Record <b>',v1000[1],'</b> field 6 incompatible: <b>',v6[1],'</b></font><br>'
              case 'ARQISONOTTIT':'<font color="red" size="2">Record <b>',v1000[1],'</b> does not contain the field title [30].</font><br>',
			  case 'IDDUP':'<font color="red" size="2">Record <b>',v1000^m,'</b> identifier "',v1000^i,'" duplicate.</font><br>',
              case 'ARQISOOK':'<font size="3" color="Navy"><b>ISO File OK for Import.</b></font><br>',
              elsecase v3010,/
              endsel,
            )
      [/pft]
</font>	  

