<script language="javascript">
<!--		
	function wxisVersion()
	{	
		janela=window.open("[pft]getenv('SCRIPT_NAME')[/pft]/?hello","WWWISIS","width=450,height=160,toolbar=no,resize=true,menubar=no,scrollbars=yes");
		janela.focus();						
	}	
-->	
</script>	
<table border="0" width="95%" align="center" cellpadding="10">
	<tr>
		<td><img src="[pft]v7001,v5021[/pft]/image/seta.gif" align="texttop">System Information</td>	
	</tr>
</table>		

<table border="0" cellspacing="1" cellpadding="10" align="center" bgcolor="#B3CEEC" width="95%">
	<tr>
		<TD bgcolor="#D9E4EC" colspan="2">
			<font size="3"><b>iAH Search Interface v2.4</b></font>
			<p>
			<font size="1">Application developed in WWWISIS 5.0 by BIREME</font>.
		</TD>
	</tr>
</table>	
<br>
<table border="0" cellspacing="1" cellpadding="5" align="center" bgcolor="#B3CEEC" width="95%">
	<TR>
		<TD colspan="2" align="center" bgcolor="#6291B0"><b>System definition (iah.def.php)</b></td>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">PATH_DATA</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]v7001[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC">PATH_CGI-BIN</TD>
		<TD bgcolor="#D9E4EC">[pft]v7002[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC">PATH_DATABASE</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7003[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC" >BODY BACKGROUND COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7031[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC" >BODY TEXT COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7032[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC" >BODY LINK COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7033[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC" >BODY VLINK COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7034[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC" >BAR BACKGROUND COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7035[/pft]</TD>
	</TR>
	<TR>	
		<TD bgcolor="#D9E4EC" >BAR TEXT COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7036[/pft]</TD>
	</TR>
	<!--TR>	
		<TD bgcolor="#D9E4EC" >WARNING TEXT COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7044[/pft]</TD>
	</TR-->
	<!--TR>	
		<TD bgcolor="#D9E4EC" >ERROR TEXT COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7045[/pft]</TD>
	</TR-->
	<TR>
		<TD bgcolor="#D9E4EC" >LOGO IMAGE</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7081[/pft]</TD>
	</TR>
	<!--TR>	
		<TD bgcolor="#D9E4EC" >LOGO TEXT COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7082[/pft]</TD>
	</TR-->
	<!--TR>	
		<TD bgcolor="#D9E4EC" >LOGO BACKGROUND COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7083[/pft]</TD>
	</TR-->
	<TR>	
		<TD bgcolor="#D9E4EC" valign="top">LOGO URL</TD>		
		<TD bgcolor="#D9E4EC" >
			<table>
				<tr><td><i>portuguese:</i> </td><td>[pft]v7084^p[/pft]</td></tr>
				<tr><td><i>spanish: </i></td><td>[pft]v7084^e[/pft]</td></tr>
				<tr><td><i>english: </i></td><td>[pft]v7084^i[/pft]</td></tr>
			</table>			
		</TD>
	</TR>
	<!--TR>	
		<TD bgcolor="#D9E4EC" >LOGO TEXT</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7085[/pft]</TD>
	</TR-->
	<TR>	
		<TD bgcolor="#D9E4EC" >HEADER IMAGE</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7091[/pft]</TD>
	</TR>
	<!--TR>	
		<TD bgcolor="#D9E4EC" >HEADER TEXT COLOR</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7092[/pft]</TD>
	</TR-->
	<!--TR>	
		<TD bgcolor="#D9E4EC" >HEADER BACKGROUND</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7093[/pft]</TD>
	</TR-->
	<TR>		
		<TD bgcolor="#D9E4EC" valign="top" >HEADER URL</TD>
		<TD bgcolor="#D9E4EC" >
			<table>
				<tr><td><i>portuguese:</i> </td><td>[pft]v7094^p[/pft]</td></tr>
				<tr><td><i>spanish: </i></td><td>[pft]v7094^e[/pft]</td></tr>
				<tr><td><i>english: </i></td><td>[pft]v7094^i[/pft]</td></tr>
			</table>				
		</TD>
	</TR>
	<!--TR>	
		<TD bgcolor="#D9E4EC" >HEADER TEXT</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7095[/pft]</TD>	
	</TR-->
	<TR>		
		<TD bgcolor="#D9E4EC" valign="top" >MANAGER E-MAIL</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7096[/pft]</TD>
	</TR>
	<TR>		
		<TD bgcolor="#D9E4EC" valign="top" >REVERSE MODE</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7097[/pft]</TD>
	</TR>
	<TR>		
		<TD bgcolor="#D9E4EC" valign="top" >MULTI-LANGUAGE</TD>
		<TD bgcolor="#D9E4EC" >[pft]v7098[/pft]</TD>
	</TR>
	
</table>	
<br>
<table border="0" cellspacing="1" cellpadding="5" align="center" bgcolor="#B3CEEC" width="95%">
	<TR>
		<TD colspan="2" align="center" bgcolor="#6291B0"><b>Environment Variables</b></td>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">SERVER_SOFTWARE</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('SERVER_SOFTWARE')[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">SERVER_NAME</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('SERVER_NAME')[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">GATEWAY_INTERFACE</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('GATEWAY_INTERFACE')[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">SERVER_PROTOCOL</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('SERVER_PROTOCOL')[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">SERVER_PORT</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('SERVER_PORT')[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">PATH_INFO</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('PATH_INFO')[/pft]</TD>
	</TR>
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">PATH_TRANSLATED</TD>
		<TD bgcolor="#D9E4EC" width="60%">[pft]getenv('PATH_TRANSLATED')[/pft]</TD>
	</TR>		
	<TR>
		<TD bgcolor="#D9E4EC" width="40%">SCRIPT_NAME</TD>
		<TD bgcolor="#D9E4EC" width="60%"><a href="javascript:void(wxisVersion())">[pft]getenv('SCRIPT_NAME')[/pft]</a></TD>
	</TR>		
</table>
