[pft]@AHHEAD.PFT[/pft]
<script>
	function testRange(){		
		if (document.Option.listOption[1].status){
			var ref0 = parseFloat(document.Option.listHit[0].value)
			var ref1 = parseFloat(document.Option.listHit[1].value)
						
			if(document.Option.listHit[0].value.length == 0 || document.Option.listHit[1].value.length == 0 ) {	
				alert("Inform the values at the beginning and end of the print range")
				return false
			}	
			if((ref0 > ref1) || isNaN(ref0) || isNaN(ref1) || ref0 <= 0 || ref1 <= 0) {	
				alert("Values of the print range invalid. Please verify")
				return false
			}			

			if(eval(document.Option.listHit[0].value) > [pft]v1002[/pft] || eval(document.Option.listHit[1].value) > [pft]v1002[/pft]) {
				alert("Maximum value of reference for impression: [pft]v1002[/pft]")
				return false			
			}				
		}		
	}	
</script>

<form action="[pft]getenv('SCRIPT_NAME')v5000^d'?'[/pft]" method="POST" name="Option" onSubmit="return testRange()">

	[pft]@AHHIDD.PFT[/pft]

	
	<input type="hidden" name="nextAction" value="list">
	<center>
	<table width="450" border="1" cellspacing="0" cellpadding="5" >
	<tr><td bgcolor="navy"><font face="arial" size="2" color="white"><b>Format for print</b></font></td></tr>
	<tr> 
		<td bgcolor="#CCCCCC" nowrap>		
			<br>	
	        <font face="Verdana" size="1">Print range</font><br><br>
	        <table width="65%" border="1" cellspacing="0" cellpadding="10" align="left" bordercolorlight="#808080" bordercolordark="#FFFFFF">
			<tr> 
        	    <td nowrap>					
					<font face="Arial" size="2">
					<input type="Radio" name="listOption" value="list_all" [pft]if a(v6210) then 'checked' fi[/pft]>
					All<br>
					<input type="Radio" name="listOption" value="list_hits">				
					References&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; from: 
					</font>
					<input type="text" name="listHit" maxlength="4" size="4">
					<font face="Arial" size="2">&nbsp;to:&nbsp;</font>
	                <input type="text" name="listHit" maxlength="4" size="4"><br>
					[pft]if p(v6210) then[/pft]		
						<input type="Radio" name="listOption" value="list_selected" checked>
					[pft]else[/pft]
						&nbsp;<img src="[pft]v5002[/pft]radio.gif" border="0" height="15" width="17">	
					[pft]fi[/pft]
				
    	            <font face="Arial" size="2">Selection<br></font>                
	            </td>
			</tr>
			</table>
			
			<br><br><br><br><br><br>
			[pft]if size(REF(['CNFIAH']1,v11)) > 0 then[/pft]
				<div align="left">
					&nbsp;&nbsp;&nbsp;<input type="checkbox" name="sendByEmail" value="checkbox">
					<font face="Arial" size="2">send the result for the e-mail:</font>
					<input type="text" name="sendToEmail" size="23">&nbsp;&nbsp;&nbsp;			
				</div> 
			[pft]fi[/pft]
			
			<br><div align="right"><font face="Arial" size="2">
				<input type="button" value="Cancel" onClick="history.back()">
				<input type="submit" value="   OK   ">
			</font>&nbsp;&nbsp;&nbsp;&nbsp;</div><br>
        </td>
    </tr>
  </table>
  </center>		
</form>
</body>
</html>
