[pft]@AHHEAD.PFT[/pft]

<script>
	function AnySelected(){			
		var any = false;
		var count = 0;		

		while(!any && count < document.forms[0].listChecked.length) {			
			any = (document.forms[0].listChecked[count].checked || document.forms[0].listChecked[count].type == "hidden");
			count++;
	    }
		if (!any)
		{
			alert("Nenhuma referÍncia foi selectda");
			return false;
		}	
		else{
			document.forms[0].nextAction.value="your_selection";			
			document.forms[0].submit();			
			return true;
		}		
	}


	//ebsco functions 
	
	function goEbscoOnline(parametros)
	{
		var str_aux = "http://www-us.ebsco.com/online/direct.asp?"+parametros;
        janela = window.open(str_aux,"EBSCO_Online","width=640,height=480,resizable=yes,toolbar=no,location=no,menubar=no,scrollbars=yes,status=yes");
        janela.focus()	
	
	}
	//CVLACS functions 
	
	function goCVLACS1(parametros)
	{
		var str_aux = "http://genos.cnpq.br:12010/dwlattes/owa/prc_imp_cv_int?"+parametros;
        janela = window.open(str_aux,"CVLACS","width=640,height=480,resizable=yes,toolbar=no,location=no,menubar=no,scrollbars=yes,status=yes");
        janela.focus()	
	
	}

	//MDL_COC functions 
	
	function goMdlCochrane(parametros)
      {
              var str_aux = "/cgi-bin/wxislind.exe/iah-cochrane/?IsisScript=/users/www/cgi-bin/iah-cochrane/fulltext.xis&"+parametros;
        janela = window.open(str_aux,"FullText","width=640,height=480,resizable=yes,toolbar=no,location=no,menubar=no,scrollbars=yes,status=yes");
        janela.focus()  
        
       }

	function relatedDocs(mfn)
	{
		form = document.forms[0];
		form.related.value = mfn;
		form.nextAction.value = "list_related";
		form.submit();		
		return;
	
	} 

	
</script>
<form action="[pft]getenv('SCRIPT_NAME')v5000^d[/pft]" method="POST">
	[pft]@AHHIDD.PFT[/pft]

	
	<input type="hidden" name="nextAction" value="refine/resubmit">	
	<center>
	<table border="0" width="600" cellspacing="0" cellpadding="0" bgcolor="[pft]v5006^b[/pft]">
		<tr>
			<td>&nbsp;</td>

			[pft]if val(v1002) = 0 then[/pft]
				<td>&nbsp;</td>
			[pft]else[/pft]	
				<td align="left">
					<a href="javascript:void(AnySelected())"><img src="[pft]v5002[/pft]yselect.gif" border="0"></a>
				</td>
				<td align="center">
					<!--input type="image" src="[pft]v5002[/pft]sresult.gif" name="list" border="0"></a-->					
				</td>							
				<td align="center">				
					<!--input type="image" name="new search" src="[pft]v5002[/pft]npesq.gif" border="0"-->				
				</td>
				<td align="center">		
					<!--input type="image" name="config" src="[pft]v5002[/pft]config.gif" border="0"-->			
				</td>
				<td align="right">			
					<a href="#bottom"><img src="[pft]v5002[/pft]fim.gif" border="0"></a>
				</td>	
			[pft]fi[/pft]	

		</tr>
	</table>

	<table border="0" width="600" cellspacing="0" cellpadding="0" align="center">	
		<tr>
			<td>
			<table border="0" width="600">
				<tr>
					<td align="right" valign="top">
						<font face="arial" size="2">Database :</font>
					</td>
					<td valign="top">
						<font face="verdana" size="1"><b>[pft]v5003^*[/pft]</b></font>
					</td>		
				</tr>
				<tr>
					<td align="right" width="35%" valign="top">
						<font face="arial" size="2">Search on:</font>
					</td>
					<td width="65%" valign="top">
						<font size="2"><b>
						[pft]
							@title.pft							
						[/pft]
						</b>(documentos relacionados)</font>						
					</td>
				</tr>
				<tr>
					<td align="right" valign="top">
						<font face="arial" size="2">References found :</font>
					</td>
					<td>
						<font face="verdana" size="1">
						<b>[pft]v1002[/pft]</b>						
						</font>
					</td>				
				</tr>	
				[pft]if val(v1002) > 0 then[/pft]
        		<tr>
          			<td align="right" valign="top">
						<font face="Verdana" size="2">Displaying:</font>
	          		</td>
    	      		<td>
						<font face="Verdana" size="1">
						<b>[pft]'1 .. ',v1002[/pft]</b>&nbsp;&nbsp;
						 in format [pft]'[<b>'(if  v5009[1] = v5005^n then v5005^i fi)'</b>]'[/pft]
						</font>						
		 			</td>
        		</tr>
				[pft]fi[/pft]		
			</table>
			</td>
		</tr>
	</table>
						
