body {background-color: #CAD7E6}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#999966;}

.title {font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold; text-align: center; background-color: #CAD7E6}

.mfn {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;}

.docId {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-align: center;}

.docFormerFileName {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align:center}

.return {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align:center}

.tabHeader {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-align:center}

.fieldLabel {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align : left; background-color: #295e85; color:white}

.fieldInput {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align : left; background-color:white;  color:white}

.link {background-color: white}

.label {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align : left; background-color: #295e85; color:white; font-weight: bold;}

.fileLink {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align : left; background-color: #CAD7E6 }

.Option {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-align : center; background-color: #CAD7E6 }
