/* *********************************** General styles ***************************************/
body {
	margin: 20px;
	margin-top: 0px;
	background: #cad7e6; 
}

.panel {
	margin:0px;
	padding:0px;
	height:440px;
   width: 480px;		
	display: inline;
}

.edition_table {
	background: white; 
	border: 1px solid #999;
	margin-left: 1px;
	text-align:left;	
	margin:0px;
	margin-top: 0px;
	padding:0px;	
}

.title1 {
	background: white;
	font-family: trebuchet MS, Arial;
	font-size: 90%;
	font-weight: bold;
	border-bottom: 1px solid #779dc1;
	margin: 0px 3px 10px 7px;
	color: #4d4d4d;
}

.field {
	padding-top: 1px;
	margin-top: 1px;
	background: #cad7e6; 
	color:#375e83;;
	border: 1px solid #777;
	/*height: 25px;*/
	width: 25px;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	font: 13px verdana;
	font-weight: bold;

}

.show_hide {
	padding-top: 2px;
	margin-top: 2px;
	/*background: #D3D3D3;*/
	color: black;
	/*border: 1px solid #777;*/
	height: 25px;
	width: 25px;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
/*	font: 13px verdana;
	font-weight: bold;
	margin:10px;
*/	
	text-decoration: none;
	font-family: trebuchet MS, Arial;
	font-size: 70%;

}

.subfield {
	padding-top: 2px;
	background: #E9E9E9;
	color: black;
	border: 1px solid #777;
	height: 25px;
	width: 25px;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	font: 13px verdana;
	font-weight: bold;
}
.subfield1 {
	padding-top: 2px;
	background: #E9E9E9;
	color: red;
	border: 1px solid #777;
	height: 25px;
	width: 25px;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	font: 13px verdana;
	font-weight: bold;
}

.checkbox_holder {
	padding: 0px;
	text-align: left;
	color: black;
	border: 0px solid;
	height: 25px;  
	width: 280px;
	font: bold 12px verdana;
}

.field_edit_holder {
	padding: 0px;
	text-align: left;
	background: ButtonFace;
	color: black;
	border: 1px solid #777;
/*	height: 25px;  */
	width: 280px;
	cursor: pointer;
	cursor: hand;
	font: bold 12px verdana;
}

.field_edit_holder_over {
	padding: 0px;
	text-align: left;
	background: #F4A460;
	color: black;
	border: 1px solid #777;
/*	height: 25px; */
	width: 280px;
	cursor: pointer;
	cursor: hand;
	font: bold 12px verdana;
}

.field_edit {
	padding: 2px;
	padding-left: 5px;
	text-align: left;
	background: ButtonFace;
	color: black;
	border: 0px;
/*	height: 20px; */
	width: 280px;
	cursor: pointer;
	cursor: hand;
	font: bold 12px verdana;
}

.field_edit_over {
	padding: 2px;
	padding-left: 5px;
	text-align: left;
	background: #F4A460;
	color: black;
	border: 0px;
/*	height: 20px; */
	width: 280px; 
	cursor: pointer;
	cursor: hand;
	font: bold 12px verdana;
}

.field_edit_red {
	padding: 2px;
	padding-left: 5px;
	text-align: left;
	background-color: Red;	
	color: white;
	border: 0px;
/*	height: 20px; */
	width: 280px;
	cursor: pointer;
	cursor: hand;
	font: bold 12px verdana;
}

.field_edit_over_red {
	padding: 2px;
	padding-left: 5px;
	text-align: left;
	background-color: Red;	
	color: black;
	border: 0px;
/*	height: 20px; */
	width: 280px; 
	cursor: pointer;
	cursor: hand;
	font: bold 12px verdana;
}

.button {
/*	padding: 2px;
	color: black;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	cursor: hand;
/*	
	background: #6495ED; 
	border: 1px solid #777; 
	height: 25px; 
	font: 13px verdana;
	font-weight: bold;
	color: #000; 
*/
	background: url(../images/submitTrueBg.gif) repeat-x;
	border: 1px solid #779dc1;
	font-size: 70%;
}

.subfields_table {
	display: inline;
	top: 0px;
	left:0px;
	padding: 0px;
	margin: 0px;
}

.top_alignment {
	vertical-align: top; 
}

.save {
	padding-top: 3px;
	margin-top: 2px;
	/*background: white;*/
	color: black;
	/*border: 1px solid #777; */
	height: 25px;
	width: 25px;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	/*
	font: 13px verdana;
	font-weight: bold;
	*/
	text-decoration: none;
	font-family: trebuchet MS, Arial;
	font-size: 70%;

}

.save A, .show_hide A{
	text-decoration: none;
	border:none;
	color:#353535;
}

.save A:hover, .show_hide A:hover{
	color:#5e0503;
	font: bold;
}


 