
[pft]if val(v1002) > 0 then[/pft]
	<br>
	<hr width="600" align="center">
	<!-- monta navegacao entre as paginas do resultado -->
	[pft]@NAVPAGE.PFT[/pft]	
	<a name="bottom"></a>
	<center>
   	<table border="0" width="600" cellspacing="0" cellpadding="0" bgcolor="[pft]v5006^b[/pft]">
   		<tr>
			<td align="center" width="25%">
				[pft]if val(v1002) > 0 then[/pft]
					<a href="javascript:void(AnySelected())"><img src="[pft]v5002[/pft]yselect.gif" border="0"></a>
				[pft]fi[/pft]
			</td>			
			<td align="center" width="25%">&nbsp;</td>
			<td align="center" width="25%">&nbsp;</td>		
			<td  align="right">
   				<a href="#top"><img src="[pft]v5002[/pft]inic.gif" border="0"></a>
			</td>
   		</tr>
	</table>
	</center>
[pft]fi[/pft]
<br><br>
<center>
<table border="0" width="600" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a name="refine"><font face="Verdana" size="1"><b><i>Refinar a pesquisa</i></b></font></a>
		</td>
	</tr>
</table>
</center>