
  </table>
			<div align="center"><p>
             <input type="hidden" name="Erros" value="[pft],v3020,[/pft]">
	         <a href="javascript:history.back()" name="voltar"><img name="cancelar" src="[pft],v5000^i,[/pft]cancel.gif" border="0"></a>
		  [pft]if v3001^p='D' then fi[/pft]
<input type="image" name="CONCLUI CERTIFICACAO" id="CONCLUI CERTIFICACAO" src="[pft],v5000^i,[/pft]confirm.gif" 
onclick="src=&#39;[pft],v5000^i,[/pft]blue.gif&#39;; FakeButton.src=&#39;[pft],v5000^i,[/pft]confirm.gif&#39;; voltar.href=&#39;#&#39;">
<img name="FakeButton" id="FakeButton" src="[pft],v5000^i,[/pft]blue.gif">	   
		     
			 </p></form>
		  <script language="JavaScript">
		  		_console.close();
		  </script>
          </body>
          </html>