
<a href="javascript:history.back();" name="voltar">
	<img name="cancelar" src="[pft]v5000^i,'cancel.gif'[/pft]" border="0">
</a>

<input type="image" name="IMPORTA ARQUIVO ISO" src="[pft]v5000^i'exeimpiso.gif'[/pft]" border="0"
onclick="src=&#39;[pft],v5000^i,[/pft]blue.gif&#39;; FakeButton.src=&#39;[pft],v5000^i,[/pft]exeimpiso.gif&#39;; voltar.href=&#39;#&#39;">
<img name="FakeButton" id="FakeButton" src="[pft],v5000^i,[/pft]blue.gif">	   
</div>
</form>       
</body>
</html>

		