<font size="1" face="arial">
	  [pft]	  
	      (
            select v3010
              case 'LENDO':'<script>document.forms[0].status.value="Leyendo registro: ',v1000,'"</script>',
              case 'TESTANDO':'<script>document.forms[0].status.value="Verificando registro :',v1000,' tipo: ',v5,x1,v6,'"</script>',
              case 'ARQISONOTLIL5':'<font color="red" size="2">Registro <b>',v1000[1],'</b> campo 5 incompatible: <b>',v5[1],'</b></font><br>'
              case 'ARQISONOTLIL6':'<font color="red" size="2">Registro <b>',v1000[1],'</b> campo 6 incompatible: <b>',v6[1],'</b></font><br>'
              case 'ARQISONOTTIT':'<font color="red" size="2">Registro <b>',v1000[1],'</b> no contiene el campo título [30].</font><br>',
			  case 'IDDUP':'<font color="red" size="2">Registro <b>',v1000^m,'</b> identificador "',v1000^i,'" doble.</font><br>',
              case 'ARQISOOK':'<font size="3" color="Navy"><b>Archivo ISO OK para Importación.</b></font><br>',
              elsecase v3010,/
              endsel,
            )
      [/pft]
</font>	  

